*{
    background-color:#77b9ff;

}
li{
    font-size: medium;
    font-style: normal;
    color:blueviolet;
    padding: 5px;
    list-style-type: decimal;


}
ul{color:magenta;}

.background-color-lightblue{background:lightblue;}

img {float:inline-end;}


img{width: 1000px;
height: 500px;}

